In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
df = pd.read_csv("green_tripdata_2019-09.csv", low_memory=False)

In [4]:
# Assuming df is your DataFrame
# Replace 'YourColumnName' with the actual name of column 3 in your DataFrame
column_3_data_types = df.iloc[:, 2].apply(type).unique()

# Number of unique data types
num_unique_data_types = len(column_3_data_types)

print(f"Number of unique data types in column 3: {num_unique_data_types}")
print("Unique data types:", column_3_data_types)

Number of unique data types in column 3: 1
Unique data types: [<class 'str'>]

In [5]:
len(df)

449063

In [6]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv("green_tripdata_2019-09.csv", iterator = True, chunksize = 10000)

In [12]:
df = next(df_iter)

In [13]:
len(df)

10000

In [14]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [15]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [16]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 734 ms
Wall time: 1.34 s

1000

In [17]:
from time import time

In [18]:
while True: 
    t_start = time() # get starting time
    
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time() # get ending time
    
    print('Inserted another chunk taking %.3f seconds' % (t_end - t_start)) # subtract end time from start time

Inserted another chunk taking 1.465 seconds
Inserted another chunk taking 1.606 seconds
Inserted another chunk taking 1.474 seconds
Inserted another chunk taking 1.485 seconds
Inserted another chunk taking 1.436 seconds
Inserted another chunk taking 1.388 seconds
Inserted another chunk taking 1.339 seconds
Inserted another chunk taking 1.503 seconds
Inserted another chunk taking 1.459 seconds
Inserted another chunk taking 1.381 seconds
Inserted another chunk taking 1.424 seconds
Inserted another chunk taking 1.416 seconds
Inserted another chunk taking 1.392 seconds
Inserted another chunk taking 1.418 seconds
Inserted another chunk taking 1.422 seconds
Inserted another chunk taking 1.390 seconds
Inserted another chunk taking 1.440 seconds
Inserted another chunk taking 1.332 seconds
Inserted another chunk taking 1.365 seconds
Inserted another chunk taking 1.319 seconds
Inserted another chunk taking 1.576 seconds
Inserted another chunk taking 1.432 seconds
Inserted another chunk taking 1.346 seconds
Inserted another chunk taking 1.372 seconds
Inserted another chunk taking 1.398 seconds
Inserted another chunk taking 1.400 seconds
Inserted another chunk taking 1.302 seconds
Inserted another chunk taking 1.465 seconds
Inserted another chunk taking 1.658 seconds
Inserted another chunk taking 1.366 seconds
Inserted another chunk taking 1.491 seconds
Inserted another chunk taking 1.570 seconds
Inserted another chunk taking 1.555 seconds
Inserted another chunk taking 1.417 seconds
Inserted another chunk taking 1.350 seconds
Inserted another chunk taking 1.457 seconds
Inserted another chunk taking 1.531 seconds
Inserted another chunk taking 1.549 seconds
Inserted another chunk taking 1.252 seconds
Inserted another chunk taking 1.547 seconds
Inserted another chunk taking 1.231 seconds
Inserted another chunk taking 1.521 seconds
Inserted another chunk taking 1.550 seconds
Inserted another chunk taking 1.179 seconds

StopIteration:

In [20]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-28 13:26:57--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.194.232, 52.216.185.53, 54.231.233.80, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.194.232|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: â€˜taxi+_zone_lookup.csv.1â€™

     0K .......... ..                                         100% 33.2M=0s

2024-01-28 13:26:58 (33.2 MB/s) - â€˜taxi+_zone_lookup.csv.1â€™ saved [12322/12322]

In [21]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [23]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265